.fileList {
    width: 70vw;
    border: 1px solid #EAE7E7;
    margin-left: 15vw;
}


.asset {
    cursor: pointer;
    height: 50px;

    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.asset:hover {
    background-color: #BFBABA;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.fileListHeader {
    padding: 0;
    margin: 0;
    width: 100%;
}

.fileListHeaderName {
    width: 50%;
    padding-left: 10px;
}

.fileListHeaderOwner {
    width: 25%;
}

.fileListHeaderUploadTime {
    width: 25%;
}