.fileList {
    width: 70vw;
    border: 1px solid #EAE7E7;
    margin-left: 15vw;
}


.asset {
    cursor: pointer;
    height: 50px;

    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.asset:hover {
    background-color: #F5EBEB;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.fileListHeader {
    padding: 0;
    margin: 0;
    width: 100%;
}

.fileListHeaderName {
    width: 35%;
    padding-left: 10px;
}

.fileListHeaderOwner {
    width: 25%;
}

.fileListHeaderUploadTime {
    width: 25%;
}

.fileListHeaderSize {
    width: 15%;
}

.homeHeader {
    background-color: #EAE7E7;
    width: 100%;
    left: 0;
    top: 0;
    padding-left: 5vw;
    height: 45px;
}

/**/

.homeHeaderButton {
    float: right;
    width: 7vw;
    /*border-left: 1px solid #0066A2;*/
    height: 100%;
    margin: 0;
    text-align: center;
    color: black;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    cursor: pointer;
    min-width: 50px;
}

.homeHeaderButton:hover {
    background-color: #998E8E;
    color: #EAE7E7;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.width5vw {
    width: 5vw;
    margin-left: 2vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */

}

.bigIcon {
    font-size: 10em !important;
    opacity: 0.7;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dropArea {
    border: 2px dashed black;
    text-align: center;
    cursor: pointer;
}

.dropArea:hover{
    background-color: #F5EBEB;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hidden {
    visibility: hidden;
}

.blueButton {
    background-color: #0066A2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}

.redButton {
    background-color: #c9302c;
    cursor: pointer;
}


#modalUploadButton {
    display: none;

    margin-left:auto;
    margin-right:auto;
    text-align:center;

    cursor: pointer;
}

#selectedFileText {
    display: none;
}

.slightMargin {
    margin-top: 5px;
}

hr {
    color: #EAE7E7;
}







.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    width: 150px;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.red {
    color: red;
}

.pointer {
    cursor: pointer;
}